@import 'themes/catppuccin-macchiato/theme.scss';

@font-face {
    font-family: 'UbuntuMono'; // Name used to reference the font
    src: url('../fonts/UbuntuMonoNerdFont-Regular.ttf') format('truetype'); // Fallback for older systems
    font-weight: normal; // Use 'bold' for bold fonts
    font-style: normal; // Use 'italic' if the font is italic
}

body {
    font-family: 'UbuntuMono', monospace;

    background-color: $background;
    color: $text;

    display: flex;

    overflow: hidden;
    justify-content: center;
    align-items: center;

    .main {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 30%;
        //margin: auto;

        background-color: $secondary;

        border: 1px solid $border;
    }

    .image * {
        width: 400px;
    }

    #content {
        width: 100%;
    }

    .nav {
        margin: auto;
        text-align: center;   
    }
}

.links  {
    display: flex;
    flex-direction: row;
    font-size: 20px;

    .section {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

}

.sep {
    margin: 25px;
    border: 1px solid $border;
}

ul * {
    list-style-type: none;

    color: $links;

    a {
        text-decoration: none;
    }
}
