@import 'themes/fluent/theme.scss';

html, body {
    height: 100%;
}

body {
    font-family: $font, monospace;

    background-color: $background;
    color: $text;

    display: flex;
    justify-content: center;

    @if $centerVertically {
        align-items: center;
    } @else {
        align-items: flex-start;
    }

    overflow: hidden;

    > main {
        display: flex;
        flex-direction: row;
        width: max(50%, 950px);

        background-color: $secondary;

        border: 1px solid $border;

        > #side-banner {
            flex: 0 0 400px;
            background-image: url($sideBannerPicture);
            background-size: cover;
            background-position: bottom;
        }
    }

    #content {
        width: 100%;

        > h1 {
            text-align: center;
        }
    }
}

.links  {
    display: flex;
    flex-direction: row;
    font-size: 20px;

    .section {
        width: 100%;
    }

    h3 {
        text-align: center;
    }

}

.sep {
    margin: 25px;
    border: 1px solid $border;
}

ul > li {
    a {
        text-decoration: none;
        color: $links;
    }

    &::marker {
        font-family: $font;
        content: attr(data-icon) $iconSpacing;
        color: $links;
    }
}
