@font-face {
    font-family: 'UbuntuMono';
    src: url(fonts/UbuntuMono/UbuntuMonoNerdFont-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font: "UbuntuMono";
$iconSpacing: '  ';
